*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header
{
    z-index: 2;
    /* background-color: yellow; */
    position: relative;
    width: 100vw;
    height: 2rem;
    
}

.header > ul
{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-items: center;
    align-items: center;
    list-style: none;
    
}
.header > ul > a
{
    margin: 1rem;
    padding: 1rem;
    /* position: absolute; */
    /* top: 5rem; */
    text-decoration: none;
    font-size: 1rem;
    /* letter-spacing: 4px; */
    color: rgb(57,117,31);
    /* text-shadow: 0 0 10px rgb(0,0,0,0.3); */
    font-family: sans-serif;
    font-size: larger;
    perspective: 10px;
}
.wrapper
{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    /* overflow-y:auto; */
    perspective: 10px;
}

.container
{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.background , .foreground 
{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}
.background
{
    transform: translateZ(-40px) scale(6);
}
.foreground
{
    transform: translateZ(-30px) scale(4);
}
h1
{
    position: absolute;
    /* top: 10rem; */
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgb(0,0,0,0.3);
    font-family: 'Poppins', sans-serif;
    border-bottom: 6px dotted #000;
}

h2
{
    color: white;
    text-shadow: 0 0 0px rgb(0,0,0,0.3);
    font-family:  sans-serif;
}
section
{
    position: absolute;
    background-color: rgb(45 ,45 , 45);
    color: white;
    padding:  5rem 0 ;
}

.bg1
{
    background-image: url(./assets/hydroponics-1.jpg);
}
.bg2
{
    background-image: url(./assets/hydroponics-2.jpg);
}
.bg3
{
    background-image: url(./assets/hydroponics-3.jpg);
}
.secheading
{
    font-size: 5rem;
    padding: 0 10rem;
}
.text
{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;

    color: white;
    text-shadow: 0 0 0px rgb(0,0,0,0.3);
    font-family:  sans-serif;
}
.bg
{
    position: relative;
    /* width: 100%; */
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size:cover ;
}
.desc
{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    font-size: 3.5rem;
    font-weight: 600;
    padding: 0.5rem 2.5rem;
    color:black;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;

}
